body {
  font-family: 'Roboto', sans-serif;
}
rect {
  fill: lightgray;
}
.state_0 {
  fill: lightgray;
}
.state_1 {
  fill: red;
}
.container, .svg-container, .controls-container, .rules-controls, .rule-control,
.rule-control-btn, .rule-desc-container {
  display: flex;
  justify-content: center;
}
.container, .rule-control, .rule-control-btn {
  flex-direction: column;
}
.container, .rule-control, .rule-control-btn {
  align-items: center;
}
.svg-container {
  width: 99%;
}
.controls-container {
  padding: 10px;
}
.rules-controls {

}
.rule-control {
  margin: 20px 25px 10px 20px;
}
.rule-control-btn {
  box-shadow: 0px 0px 10px #cacaca;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px #888;
  }

  &:active {
    box-shadow: inset 0px 0px 10px #cacaca;
  }
}
.rule-desc-bool {
  margin: 10px;
}
.state-on, .state-off {
  background: black;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  margin: 1px;
}
.state-off {
  background: white;
}
.generated-btn, .not-generated-btn {
  font-weight: bold;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  background: black;
  height: 20px;
}
.not-generated-btn {
  cursor: pointer;
  background: #f73637;

  &:active {
    background: #da0e0f;
  }
}
// Switch
.switch-base span span {
  color: black;
}
.switch-bar {
  background-color: #000 !important;
}
// Switch label
.controls-container > label:first-of-type  {
  margin-right: 25px !important;
  height: 40px;
}
// Input
.text-field {
  margin: 0 0 0 30px !important;
  width: 80px;
  height: 40px;
}
// Outlined button
.random-rule-button {
  height: 35px;
  margin: 3px 0 0 25px !important;
}
.authorship {
  margin: 12px 0 0 20px;
  font-size: 13px;
  color: #9a9a9a;

  a {
    color: black;
  }
}
.rule-text {
  font-size: 14px;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  max-width: 60%;

  a {
    color: black;
  }
}
